/*
  SYNOPSIS:
    (from witin project rooot directory)
      sassc scss/main.scss public/css/style.css
*/

$primary-font-color : #61686b;
$border-color : #e5e5e5;
$link-color : #5ba4e5;

$font-size-primary : 14px;
$font-size-bigger : 16px;

$selected-item-background : #F5F7F8;

$leave_cell_font_color : #61686b;

// 5E5E5E

body {
  font: $font-size-primary "Open Sans", Helvetica, Arial, sans-serif;
  color: $primary-font-color;
}

.app-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: clamp(16px, 2vw, 32px);
  padding-right: clamp(16px, 2vw, 32px);
}

@media (max-width: 768px) {
  .app-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

a {
  color: $link-color;
}

/*
  Simple class that makes its content's font size little bit bigger
 */
.text-bigger {
  font-size: $font-size-bigger;
}

/*
  Add special class to remove default buttom space
*/
.no-bottom-space {
  margin-bottom: 0px;
}

.large-bottom-space {
  margin-bottom: 300px;
}

/*
  Increase space between form groups so they are more prominent
*/
.form-group {
  margin-bottom: 20px;
}
/*
  Make help blocks in forms to be more distinguishable
 */
.form-group .help-block {
  font-style: italic;
}

/*
 Make certain progress bars to be taller
 */

.progress.bigger {
  height: 38px;

  .progress-bar {
    line-height: 38px;
  }
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

label.label-plain {
  font-weight: normal;
}

/* Make breadcrumbs to be transparant */
.breadcrumb {
  background: none;
  padding-right: 0;
  padding-left: 0;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */

.footer {
  margin-top  : 20px;
  padding-top : 20px;
  border-top  : 1px solid $border-color;
}

.header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
}

.navbar-brand,
.navbar-nav > li > a {
  white-space: normal;
  word-break: break-word;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.btn {
  white-space: normal;
}

.modal-title {
  white-space: normal;
  word-break: break-word;
}

.table th,
.table td {
  white-space: normal;
  word-break: break-word;
}


/* Space out the masthead */
.header {
  margin-bottom: 30px;
}

.popover {
  min-width: 300px;
}

/* styling calendar*/

.calendar_month {
  width : 100%;
  max-width: 360px;
  margin: 0 auto;
}
.calendar_month td {
  text-align: center;
  padding-top    : 5px;
  padding-bottom : 5px;
}
.calendar_month thead {
 text-align: center;
 font-weight: bolder;
}


div.month_container {
    height : 250px;
}

.team-view-table {
  width : 100%;
}
.team-view-table td {
  padding-top    : 5px;
  padding-bottom : 5px;
}
td.team-view-header {
  height: 43px;
  text-align: center;
}


td.calendar_cell {
    width          : 15px !important;
    min-width      : 15px !important;
    max-width      : 15px !important;
    position       : relative;
    text-align     : center;
    padding-top    : 5px;
    padding-bottom : 5px;
}
td.calendar_cell span {
    position   : relative;
    left       : 9px;
    top        : -1px;
    display    : block;
    text-align : center;
    z-index : 10;
}
td.current_day_cell {
  background: #FFCDD2;
  color : #ffffff;
}
td.weekend_cell {
  background: $selected-item-background;
}
td.bank_holiday_cell {
    background : #31B0D5;
    color : #ffffff;
}
td.leave_cell {
    background : #9fbb58;
    color : $leave_cell_font_color;
  font-weight: bolder;
}
td.leave_cell_pended {
  background: #FFCBA4;
  color: $leave_cell_font_color;
  font-weight: bolder;
}
.modal-dialog {
    max-width : 450px;
}
.left-column-cell {
  text-overflow: ellipsis;
  /* Cannot avoid specifying width with pixels... */
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.main-row_header {  /* TODO refactore */
  border: none;
  font-weight: normal;
  color: $link-color;
  letter-spacing: -0.01em;
  font-size: 19px;
  line-height: 1.15em;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}



/* Feeds */
.feed-calendar-big {
  font-size: 450px;
  color: #F8F8F8;
}

.feed-calendar-big-picture-holder {
  text-align: center;
}

p.description-paragraph {
  padding-top: 20px;
  padding-left: 15px;
}

div.feeds-holder {
  margin-top: 20px;
}


/* Calendars */
.top-leave-type-statistics {
  text-align: center;
}
.top-leave-type-statistics dt {
  font-size: 75px;
  color: $primary-font-color;
  font-weight: 100;
  border-bottom  : 1px solid $border-color;
  margin-bottom : 20px;
}
.top-leave-type-statistics dd {
  font-size: $font-size-bigger;
}


.secondary-leave-type-statistics {
  font-size : $font-size-bigger;
}
.secondary-leave-type-statistics dt {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom  : 1px solid $border-color;
}
.secondary-leave-type-statistics dd {
  padding-left: 10px;
  padding-right: 10px;
}


.calendar-section-caption {
  text-align: center;
  font-size: 1.2em;
}


.setting-general-2nd-column {
  padding-left: 30px;
}

.label.bigger {
  font-size: large;
}

/* Fix for issue with modal scrollings on mobiles */
@media (max-width: 768px) {
  body.modal-open { position: fixed; }
}

/* To be used for selected items in lists */
.selected-item {
  background : $selected-item-background;
  font-weight: bolder;
}

.leave_type_color_1 {
  background: #96c521 !important;
}

.leave_type_color_2 {
  background: #40C4FF !important;
}

.leave_type_color_3 {
  background: #FF5722 !important;
}

.leave_type_color_4 {
  background: #FF80AB !important;
}

.leave_type_color_5 {
  background: #00BCD4 !important;
}

/* Dark theme overrides */
[data-theme="dark"] {
  body {
    background-color: #121417;
    color: #e6e6e6;
  }

  a {
    color: #8abcf5;
  }

  .navbar-default {
    background-color: #1d2125;
    border-color: #2a2f34;
  }

  .navbar-default .navbar-brand,
  .navbar-default .navbar-nav > li > a {
    color: #e6e6e6;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-brand:hover {
    color: #ffffff;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > li > a:active {
    background-color: #2a2f34;
    color: #ffffff;
  }

  .dropdown-menu {
    background-color: #1f2327;
    border-color: #2a2f34;
  }

  .dropdown-menu > li > a {
    color: #e6e6e6;
  }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: #2a2f34;
    color: #ffffff;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background-color: #2a2f34;
    color: #ffffff;
  }

  .panel,
  .panel-default > .panel-heading,
  .well,
  .modal-content {
    background-color: #1a1e22;
    border-color: #2a2f34;
    color: #e6e6e6;
  }

  .panel-default > .panel-heading {
    color: #e6e6e6;
  }

  .table {
    background-color: #1a1e22;
  }

  .table > thead > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    border-color: #2a2f34;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #1f2327;
  }

  .table-hover > tbody > tr:hover {
    background-color: #2a2f34;
    color: #e6e6e6;
  }

  .table-hover > tbody > tr:hover > td,
  .table-hover > tbody > tr:hover > th {
    color: #e6e6e6;
  }

  .breadcrumb {
    color: #c8c8c8;
  }

  .form-control {
    background-color: #1f2327;
    border-color: #2a2f34;
    color: #e6e6e6;
  }

  .form-control:focus {
    border-color: #5b87b8;
    box-shadow: 0 0 0 1px rgba(91, 135, 184, 0.3);
  }

  .list-group-item {
    background-color: #1a1e22;
    border-color: #2a2f34;
    color: #e6e6e6;
  }

  .list-group-item:hover,
  .list-group-item:focus {
    background-color: #2a2f34;
    color: #e6e6e6;
  }

  .calendar_month {
    background-color: #1a1e22;
    color: #e6e6e6;
  }

  .calendar_month td {
    color: #e6e6e6;
  }

  td.current_day_cell {
    background: #8a2d3b;
    color: #ffffff;
  }

  td.weekend_cell {
    background: #2a2f34;
    color: #e6e6e6;
  }

  td.bank_holiday_cell {
    background: #1f6e86;
    color: #ffffff;
  }

  td.leave_cell {
    background: #6c8a34;
    color: #ffffff;
  }

  td.leave_cell_pended {
    background: #8a5b2f;
    color: #ffffff;
  }

  .selected-item {
    background: #2a2f34;
  }

  .alert-info,
  .alert-warning,
  .alert-danger,
  .alert-success {
    color: #e6e6e6;
    border-color: #2a2f34;
  }

  .alert-info {
    background-color: #163b4a;
  }

  .alert-warning {
    background-color: #4a3a16;
  }

  .alert-danger {
    background-color: #4a1d1d;
  }

  .alert-success {
    background-color: #1f3e2b;
  }

  .popover {
    background-color: #1f2327;
    border-color: #2a2f34;
    color: #e6e6e6;
  }

  .popover-title {
    background-color: #1a1e22;
    border-bottom-color: #2a2f34;
    color: #e6e6e6;
  }

  .popover.right > .arrow::after {
    border-right-color: #1f2327;
  }

  .popover.left > .arrow::after {
    border-left-color: #1f2327;
  }

  .popover.top > .arrow::after {
    border-top-color: #1f2327;
  }

  .popover.bottom > .arrow::after {
    border-bottom-color: #1f2327;
  }

  .footer {
    border-top-color: #2a2f34;
  }
}
