<h1>Клиенты</h1>
{{#if isAdmin}}
<a href="/customers/new" class="btn">+ Новый клиент</a>
{{/if}}
<table>
  <thead><tr><th>Имя</th><th>Email</th><th>Создан</th></tr></thead>
  <tbody>
    {{#each customers}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.contactEmail}}</td>
      <td>{{this.createdAt}}</td>
    </tr>
    {{else}}
    <tr><td colspan="3">Клиентов пока нет.</td></tr>
    {{/each}}
  </tbody>
</table>
