<h1>Планы</h1>
<table>
  <thead><tr><th>Имя</th><th>Описание</th><th>Фичи</th></tr></thead>
  <tbody>
    {{#each plans}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td class="features-cell">{{this.featuresList}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
