{{t "emails.leaveRevoke.subjectRevoked"}}
=====
<p>{{t "emails.greeting" name=requester.full_name}}</p>

<p>{{t "emails.leaveRevoke.revoked"}} <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>{{t "emails.thanks"}}</p>
