{{t "emails.registrationComplete.subject"}}
=====
<p>{{t "emails.greeting" name=user.name}}</p>

<p>{{t "emails.registrationComplete.body"}} {{> email/link href=(get_application_domain) text=(t "brand.name") }}</p>

<p>{{t "emails.thanks"}}</p>
