{{t "emails.resetPassword.subject"}}
=====
{{# with user ~}}
<p>{{t "emails.greeting" name=this.name}}</p>

<p>{{t "emails.resetPassword.body"}} {{> email/link href=(get_application_domain) text=(t "brand.name") }}.</p>

{{~/ with }}

<p>{{t "emails.thanks"}}</p>
