
<p>
  {{t "emails.requesterAllowance" name=(full_name requester) taken=requesterAllowance.number_of_days_taken_from_allowance available=requesterAllowance.number_of_days_available_in_allowance}}
</p>
